.icon-hover:hover {
    border-color: #3b71ca !important;
    background-color: white !important;
    color: #3b71ca !important;
  }
  
  .icon-hover:hover i {
    color: #3b71ca !important;
  }



  /* Header */
  .fixed-top{
    background-color: rgb(153, 2, 47);
  }



  /* Slider */

  .carousel{
   
    border: 4px solid rgb(214, 42, 70);
    border-radius: 13px ;
    margin-top: 100px;
    
  }
  .carousel-item img{
    /* background-repeat: no-repeat; */
    background-attachment: fixed;
    background-size: cover;
    
    
    border-radius: 10px;

  }
  @media screen and (max-width:991px){
    .carousel{
    margin-top: 140px;

    }
    .checkout{
      margin-top: 60px  !important
    }
  }
  /* ScrollToTopButton.css */
.scroll-to-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease-in-out;
}

.scroll-to-top-button:hover {
  background-color: #0056b3;
}

/* Checkout */

/* .checkout{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
} */

/* billing form  */
.error-input {
  border: 1px solid red;
}

/* payment-Method open */
.FormGroup {
	margin: 0 15px 20px;
	padding: 0;
	border-style: none;
	background-color: #7795f8;
	will-change: opacity, transform;
	box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 #829fff;
	border-radius: 4px;
}

.FormRow {
	/* display: -ms-flexbox; */
	/* display: flex; */
	/* -ms-flex-align: center; */
	align-items: center;
	margin-left: 15px;
	border-top: 1px solid #819efc;
}

.StripeElement--webkit-autofill {
	background: transparent !important;
}

.StripeElement {
	width: 100%;
	padding: 11px 15px 11px 0;
}
/* close payment-method */

/* Category Open */
@media screen and (max-width:991px){
  .cate-img{
    height: 80px !important;
  }
  .cate-text{
    font-size: 15px;
  }
}
@media screen and (max-width:767px){
  .cate-img{
    height: 50px !important;
  }
  .cate-text{
    font-size: 15px;
  }
}
@media screen and (max-width:391px){
  .cate-img{
    height: 40px !important;
  }
  .cate-text{
    font-size: 10px;
  }
}
@media screen and (max-width:321px){
  .cate-img{
    height: 30px !important;
  }
  .cate-text{
    font-size: 10px;
  }
}

/* Category Close */
